body {
  background-color: aquamarine;
}
nav {
  background-color: blue;
  padding: 16px 32px;
}
nav a {
  margin-right: 16px;
  color: antiquewhite;
}
.tabl {
  margin-top: 30px;
}
h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: midnightblue;
}

.cont {
  display: flex;
}
.hom {
  margin-left: 200px;
}
.std {
  margin-left: 500px;
}
.con {
  margin-left: 500px;
}
button {
  height: 50px;
  width: 200px;
  border-radius: 20px;
  margin-left: 700px;
  margin-top: 20px;
}
